<html>
<head>
  <%= stylesheet_link_tag "style" %>
</head>
<body>

<ul id="commits">
  <% @commits.each do |commit| %>
      <li class="commit">
        <div class="author"><%= commit[:author] %></div>
        <div class="date"><%= commit[:date] %></div>
        <div class="svn"><%= commit[:svn_rev] %></div>
        <div class="message"><%= commit[:message] %></div>
      </li>
  <% end %>
</ul>

</body>

</html>

